<div class="container" (click)="clearSelection()">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>User name</th>
      <th>User password</th>
      <th>User type</th>
      <th>Date created</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index" (click)="setSelectedUserIndex(i);$event.stopPropagation()" [class.active]="i == selectedUserIndex">
      <td> {{ user.name | titlecase}}</td>
      <td> {{ user.password }}</td>
      <td> {{ user.type }}</td>
      <td> {{ user.dateCreated }}</td>
    </tr>
    </tbody>
  </table>
  <app-paginator (page)="onPageClicked($event)"></app-paginator>

  <div class="row">
    <div class="col-xs-9"></div>
    <div class="col-xs-3">
      <button class="btn btn-primary" (click)="onAddUser()">{{ selectedUser ? 'Edit' : 'Add' }} </button>
      <button class="btn btn-primary">Search</button>
      <button class="btn btn-danger" (click)="onDeleteUser(selectedUser)" [disabled]="!selectedUser">Delete</button>
    </div>
  </div>
</div>
