<div class="container">
  {{ selectedUser | json }}
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>User name</th>
      <th>User password</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index" (click)="setSelectedUserIndex(i)" [class.active]="i == selectedUserIndex">
      <td> {{ user.name | titlecase}}</td>
      <td> {{ user.password }}</td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-xs-10"></div>
    <div class="col-xs-1">
      <button class="btn btn-primary" (click)="onAddUser()">{{ selectedUser ? 'Edit' : 'Add' }} </button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-primary">Search</button>
    </div>
  </div>
</div>
